* {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
}

html, body {
    width: 1280px;
    height: 1250px;
}

body header {
    position: absolute;
    width: 1280px;
    height: 50px;
    background-color: #2289bf;
}

body header #square {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

header form .search input {
    position: relative;
    float: left;
    margin-left: 750px;
    margin-top: 12px;
    width: 310px;
    height: 26px;
    border: 1px solid #2289bf;
    border-radius: 13px;
    background: url("../imgs/8_icon_2.jpg");
}

body header a {
    position: relative;
    float: left;
    margin-left: 0px;
    margin-top: 16px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

body header #login {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 18px;
    height: 18px;
}

body aside {
    position: absolute;
    top: 50px;
    float: left;
    width: 260px;
    height: 1200px;
    background-color: #2a2e3d;
}

aside article {
    position: relative;
    float: left;
    width: 260px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 50px;
}

aside article div {
    position: relative;
    float: left;
    width: 160px;
    height: 90px;
}

aside article #head_img {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b9babd;
}

aside article #name {
    position: relative;
    float: left;
    margin-top: 12px;
    width: 100px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

aside article span {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 70px;
    height: 50px;
    font-size: 18px;
    color: #67778b;
}

aside nav {
    position: relative;
    float: left;
    margin-top: 10px;
    width: 260px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
}

nav ul {
    position: relative;
    float: left;
    width: 260px;
    height: 100%;
}

nav ul li {
    list-style: none;
    position: relative;
    float: left;
    margin-top: 30px;
    width: 260px;
    height: 15px;
}

nav ul .tab:hover {
    height: 210px;
}

nav ul li a {
    position: relative;
    float: left;
    width: 150px;
    line-height: 15px;
    font-size: 15px;
    color: #67778b;
    opacity: 0.5;
}

nav ul a img {
    position: relative;
    margin-left: 40px;
    margin-right: 20px;
    width: 12px;
    height: 12px;
    background-size: cover;
}

.ul-hidden {
    position: relative;
    float: left;
    margin-top: 0;
    visibility: hidden;
}

.li-hidden {
    /**/
}

.li-hidden a {
    position: relative;
    float: left;
    margin-left: 30px;
    width: 120px;
    line-height: 15px;
    font-size: 12px;
    color: #67778b;
    opacity: 0.5;
}

.li-hidden a img {
    opacity: 0;
}

.li-hidden a:hover img {
    opacity: 1;
}

nav ul li:hover .ul-hidden {
    visibility: visible;
}

.second {
    margin-left: 20px;
}

section {
    position: absolute;
    top: 50px;
    left: 260px;
    margin: 0;
    width: 1020px;
    height: 1200px;
    background-color: #eeeeed;
}

section header {
    position: relative;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    background-color: #ffffff;
}

section header a {
    position: relative;
    float: left;
    margin-top: 10px;
    line-height: 15px;
    font-size: 15px;
    height: 30px;
    color: #a3a3a3;
    text-align: left;
}

.a-visited {
    color: #219feb;
}

.container {
    position: relative;
    margin-left: 60px;
    margin-top: 20px;
    width: 900px;
    height: 1020px;
}

.container * {
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    height: 85px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    color: #d9d9d9;
}

.col-1 {
    width: 100%;
}

.col-1 table {
    position: relative;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 15px;
    color: #7e7e7e;
}

.col-1 table tr {
    height: 30%;
    width: 100%;
}

.col-1 table label {
    position: relative;
    float: left;
    margin: 2px 5px 2px 0;
}

.col-1 select {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    width: 75px;
    height: 25px;
    font-size: 15px;
    -webkit-appearance: none;
}

.col-1 td #exchange {
    width: 70%;
    height: 50px;
    margin-right: 5px;
    -webkit-appearance: none;
    background: url("../imgs/8_icon_9.png");
    background-size: cover;
    border: none;
}

.col-1 input {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    -webkit-appearance: none;
    border: 1px solid #808080;
}

.btn-search {
    position: relative;
    float: left;
    width: 50px;
    height: 30px;
    border: none;
    background-color: #388ac1;
    color: #ffffff;
}

.col-2 {
    width: -webkit-calc(3.2% - 6px);
    margin: 20px 6px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
}

.col-3 {
    width: -webkit-calc(12.8% - 6px);
    margin: 20px 6px 0 0;
    text-align: center;
}

.col-3 h1 {
    position: relative;
    float: left;
    margin-top: 15px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.col-3 h2 {
    position: relative;
    float: left;
    margin-left: 22px;
    width: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ef854b;
}

.grey {
    position: relative;
    float: left;
    width: 10px;
    color: #a9a9a9;
    font-size: 16px;
    line-height: 30px;
}

.col-3:hover {
    border-top: 5px solid #2289bf;
}

.col-4 {
    width: -webkit-calc(16.8%);
    margin: 20px 0 0 0;
}

.col-4 span {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 12px;
    width: 50px;
    height: 50px;
    background: url("../imgs/8_icon_10.png");
    background-size: cover;
}

.col-4 #btn-history {
    position: relative;
    float: left;
    margin-top: 30px;
    border: none;
    background-color: #ffffff;
}

.container #tongji {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 70px;
}

.col-5 {
    width: -webkit-calc(25% - 15px);
    margin: 20px 20px 0 0;
    border-left: 5px solid #44b29e;
}

.col-5 hgroup {
    position: relative;
    float: left;
    width: 100px;
    margin-left: 10px;
}

.col-5 h1 {
    margin-top: 20px;
    font-weight: 300;
    color: #000000;
    font-size: 13px;
}

.col-5 h2 {
    margin-top: 10px;
    color: #858585;
    font-size: 10px;
}

.col-5 span {
    position: relative;
    float: left;
    margin-top: 15px;
    width: 75px;
    height: 55px;
    background-color: #44b29e;
}

.no-right {
    margin-right: 0;
}

.pro1 {
    position: relative;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    background-color: #f4f6f7;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    color: #979797;
}

.col-6 {
    width: -webkit-calc(60% - 5px);
    height: 350px;
    margin: 20px 10px 0 0;
    border-radius: 10px;
}

.col-6 ul {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 500px;
}
.col-6 ul a{
    position: relative;
    float: left;
    margin-right: 3px;
    width: 90px;
    height: 30px;
    background-color: #ededf0;
    font-size: 15px;
    color: #000000;
    border: 2px solid #ededf0;
    border-radius: 5px 5px 0 0;
}
.col-6 ul a:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.col-6 table{
    position: relative;
    float: left;
    margin-left: 10px;
    padding: 30px 50px;
    width: 500px;
    height: 250px;
    border: 2px solid #ededf0;
    font-size: 13px;
    color: #0c0c0c;
    text-align: center;
}
.col-6 table tbody{
    width: 400px;
}
.col-6 table tr{
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    height: 30px;
    width: 400px;
}
.col-6 table td{
    height: 30px;
    width: 100px;
    border: 1px solid #d1d1d4;
}
.col-6 table td:hover{
    background-color: #ededf0;
}
.col-7 {
    width: -webkit-calc(40% - 5px);
    height: 350px;
    margin: 20px 0 0 0;
    border-radius: 10px;
}
.col-7 table
{
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 50px;
    width: 270px;
    color: #979797;
    text-align: left;
}
.col-7 table th{
    position: relative;
    float: left;
    font-size: 15px;
    font-weight: 100;
}
.col-7 table td{
    position: relative;
    float: left;
    color: #000000;
    font-size: 15px;
    border-bottom: 1px solid #d1d1d4;
}
.th-right
{
    border-right: 1px solid #d1d1d4;
}
.btn-left
{
    margin-left: 30px;
}
.col-8 {
    width: -webkit-calc(40% - 5px);
    height: 350px;
    margin: 20px 10px 0 0;
    border-radius: 10px;
}
.col-8 ul{
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
}
#btn-return
{
    background: #ffffff;
    border:1px solid #979797;
}
.col-8-1
{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    width: 322px;
    height: 40px;
    color: #000000;
    font-size: 15px;
    border: none;
    border-top:1px solid #388ac1;
    border-bottom: 1px solid #979797;
}
.col-8-1 a
{
    position: relative;
    float: left;
    padding-top: 8px;
    width: 45px;
    height: 40px;
    text-align: center;
}
.col-8-2
{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    width: 322px;
    height: 38px;
    color: #000000;
    font-size: 12px;
    border: none;
}

.col-8-2 a
{
    position: relative;
    float: left;
    padding-top: 2px;
    width: 45px;
    height: 38px;
    text-align: center;
}
.col-8-2 a h1
{
    color: #000000;
    font-size: 12px;
    font-weight: 200;
}
.col-8-2 a:hover,.col-8-2 a:visited
{
    border: 1px solid #f1e33f;
}
.red
{
    color: #c90000;
    font-size: 12px;
}
.col-9 {
    width: -webkit-calc(60% - 5px);
    height: 350px;
    margin: 20px 0 0 0;
    border-radius: 10px;
}
.col-9 table
{
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width: 450px;
    height: 264px;
    font-size: 13px;
    color: #000000;
}
.col-9 table .tl-1
{
    width: 70px;
    height: 24px;
    text-align: center;
    border: 1px solid #979797;
}
.col-9 table .tl-2
{
    width: 90px;
    height: 24px;
    text-align: center;
    border: 1px solid #979797;
}
.col-9 table .tl-3
{
    padding-left: 30px;
    width: 290px;
    height: 24px;
    text-align: left;
    border: 1px solid #979797;
}
.col-9 table tr:hover
{
    background-color: #eeeeed;
}
.col-9 .tl-3 p
{
    position: relative;
    float: left;
    width: 80px;
    height: 20px;
}
.col-9 table span
{
    position: relative;
    margin-top: 6px;
    float: left;
    width: 160px;
    height: 8px;
    background-color: #e0e0df;
}
.sp-1
{
    position: relative;
    float: left;
    width: 160px;
    height: 8px;
}